<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>DoIt-Day</title>
	<link rel="icon" th:href="@{static/dist/images/Logo.png}" type="image/x-ico">

	<link rel="stylesheet" th:href="@{static/dist/css/doit.css}">
	<link rel="stylesheet" th:href="@{static/dist/css/sidebar.css}">
	<link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div id="wrapper" style="left:0;">
	<!-- 侧边栏 -->
	<div class="sidebar">
		<div class="headSculpture">
			<img alt="" src="" th:src="@{static/dist/images/profilePicture.jpg}">
			<p>昵称：user</p>
		</div>
		<div class="option">
			<ul>
				<li><i class="bi bi-sun"></i>
					<p>今天</p>
				</li>
				<li><i class="bi bi-sunrise"></i>
					<p>明天</p>
				</li>
				<li><i class="bi bi-calendar3-week"></i>
					<p>这周</p>
				</li>
				<li><i class="bi bi-calendar3"></i>
					<p>日历</p>
				</li>
				<li><i class="bi bi-list-task"></i>
					<p>任务</p>
				</li>
				<li><i class="bi bi-journal-text"></i>
					<p>清单</p>
				</li>
			</ul>
		</div>
	</div>

	<!-- 内容区域 -->
	<div class="banner">
		<!-- 任务列表 -->
		<div class="tasksDay">
			<!-- 待完成 -->
			<div class="task">
				<i class="bi bi-circle"></i>
				<div class="taskMain">
					<p class="taskText">123</p>
					<p class="taskTime">456</p>
				</div>
			</div>
			<div class="task">
				<i class="bi bi-circle"></i>
				<div class="taskMain">
					<p class="taskText">123</p>
					<p class="taskTime">456</p>
				</div>
			</div>
			<!-- 分割线 -->
			<fieldset>
				<legend>已完成</legend>
			</fieldset>
			<!-- 已完成 -->
			<div class="task">
				<i class="bi bi-check2-circle"></i>
				<div class="taskMain">
					<p class="taskText">123</p>
					<p class="taskTime">456</p>
				</div>
			</div>
		</div>

		<!-- 底部输入框 -->
		<div class="bottom">
			<label>
				<input class="taskInput" placeholder="添加任务" type="text"/>
			</label>
		</div>
	</div>
</div>
<!--jquery-->
<script th:src="@{static/plugins/jquery/jquery.min.js}"></script>
<!-- lay-ui -->
<script th:src="@{/plugins/layui/layui.js}"></script>
<!-- my.js -->
<script th:src="@{static/dist/js/doit.js}"></script>
<script th:src="@{static/dist/js/sidebar.js}"></script>

<script>
	$(".taskMain").click(function () {
		layer.open({
			type: 1,
			title: "title",                 // 头部内容
			content: "111",             // 这里content是一个普通的String
			area: ['500px', '100%'],      // 窗口大小
			offset: 'rt',                 // 窗口位置
			anim: 5,                      // 窗口动画
			shadeClose: true,             // 阴影 关闭
			moveOut: true,                // 是否允许拖动到窗口外
		});
	});
	// 步骤列表
	$(".tasks").on("click", ".taskMain", function () {
		layer.open({
			type: 1,
			title: "title",                 // 头部内容
			content: "content",             // 这里content是一个普通的String
			area: ['500px', '100%'],      // 窗口大小
			offset: 'rt',                 // 窗口位置
			anim: 5,                      // 窗口动画
			shadeClose: true,             // 阴影 关闭
			moveOut: true,                // 是否允许拖动到窗口外
		});
	});

	// 	const typeIcon = $(this).prev().attr('class');
	// 	const taskText = $(this).children().first().next().text();
	// 	const taskId = $(this).children().first().val();
	// 	const task = $(this).parent();
	//
	// 	//获取步骤列表
	// 	$(function () {
	// 		$.ajax({
	// 			// 请求路径
	// 			url: "/steps",
	// 			type: "get",
	// 			data: {id: taskId},
	// 			success: function (data) {
	// 				// 拿到数据后执行的方法
	// 				for (let i = 0; i < data.length; i++) {
	// 					let str = "";
	// 					str += '<div class="step">' +
	// 							'<i class="layui-icon layui-icon-circle"></i>' +
	// 							'<p class="taskText">' + data[i].content + '</p>' +
	// 							'</div>';
	// 					$("#steps").prepend(str);
	// 				}
	// 			}
	// 		});
	// 	});
	//
	// 	let title =
	// 			'<i class ="' + typeIcon + '"></i>' +
	// 			'<i>' + taskText + '</i>';
	// 	let content =
	// 			'<div class="popup">' +
	// 			'<div class="myDay"><i class="layui-icon layui-icon-light"></i>添加到我的一天</div>' +
	// 			'<div class="recur"><i class="layui-icon layui-icon-refresh"></i>任务重复</div>' +
	// 			'<div class="addStep"><i class="layui-icon layui-icon-add-1"></i>' +
	// 			'<input id="stepInput" name="content" placeholder="添加步骤" type="text">' +
	// 			'</div>' +
	// 			'<div class="steps"><i class="layui-icon layui-icon-circle"></i>步骤列表</div>' +
	// 			'<div id="steps"></div>' +
	// 			'<div class="delete"><i class="layui-icon layui-icon-delete">删除</i></div>' +
	// 			'</div>';
	// 	// 步骤展示
	// 	layer.open({
	// 		type: 1,
	// 		title: title,                 // 头部内容
	// 		content: content,             // 这里content是一个普通的String
	// 		area: ['500px', '100%'],      // 窗口大小
	// 		offset: 'rt',                 // 窗口位置
	// 		anim: 5,                      // 窗口动画
	// 		shadeClose: true,             // 阴影 关闭
	// 		moveOut: true,                // 是否允许拖动到窗口外
	// 	});
	//
	// 	// 步骤输入
	// 	$("#stepInput").keyup(function (event) {
	// 		if (event.keyCode === 13) {
	// 			$.ajax({
	// 				url: "/stepInput",
	// 				type: "post",
	// 				data: {content: $("#stepInput").val(), taskId: taskId, isFinish: 0},
	// 				success: function (data) {
	// 					let str = "";
	// 					str += '<div class="step">' +
	// 							'<i class="layui-icon layui-icon-circle"></i>' +
	// 							'<p class="taskText">' + data.content + '</p>' +
	// 							'</div>';
	// 					$("#steps").prepend(str);
	// 					$("#stepInput").val("");
	// 				}
	// 			})
	// 		}
	// 	});
	// 	// 删除任务
	// 	$(".delete").click(function () {
	// 		$.ajax({
	// 			url: "/taskDelete",
	// 			type: "post",
	// 			data: {id: taskId},
	// 			success: function () {
	// 				layer.closeAll();
	// 				task.remove();
	// 			}
	// 		});
	// 	});
	// });
</script>
</body>
</html>
