<!DOCTYPE html>
<html lang="zh" th:replace="~{commons::layout(~{::title},~{::section},~{::header},~{::footer})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DoIt-Cal</title>
</head>

<body>
<!--头部-->
<header>

</header>

<!-- 主体部分 -->
<section class="calMain">
    <div class="wx-body">
        <div id='calendar' style="width: 100px;"></div>
    </div>
</section>

<footer>
    <script th:src="@{/dist/js/my.js}"></script>

    <!-- 日历控件 -->
    <script th:src="@{/dist/js/simple-calendar.js}"></script>
    <script th:src="@{/dist/js/main.js}"></script>
</footer>
</body>
</html>