<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons::head(~{::title})}">
    <title>DoIt-Day</title>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- 顶部导航栏 -->
    <nav th:replace="commons::commonNav(day)"></nav>
    <!-- 左侧导航栏 -->
    <aside th:replace="commons::commonMenu(day)"></aside>

    <!-- 中间内容 -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <!-- 任务 -->
                    <div class="col-8">
                        <form method="post" th:action="@{/taskInput}" th:object="${task}">
                            <label for="taskName"></label>
                            <input class="form-control input-lg" id="taskName" name="taskName" placeholder="添加任务" type="text">
                        </form>

                        <div th:each="task:${tasks}">
                            <label>
                                <input style="width: 50px" type="checkbox" value="">
                            </label>
                            <a id="btn" th:href="@{/(id=${task.id})}" th:text="${task.taskName}"></a>
                        </div>
                    </div>
                    <!-- 步骤 -->
                    <div class="col-4">
                        <label for="step"></label>
                        <input class="form-control input-lg" id="step" placeholder="添加步骤" type="text">
                        <div th:each="step:${steps}">
                            <label>
                                <input th:text="${step.content}" type="checkbox" value="">
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </section>
        <!-- Main content -->
    </div>
    <!--/ 中间内容 -->
</div>
<div th:replace="commons::commonScript"></div>
<script>
    // 查询所有
    $('#btn1').click(function () {
        $.get('/employees', function (data) {
            console.log(data);
        });
    });
</script>
</body>
</html>
