<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons::head(~{::title})}">
    <title>DoIt-Day</title>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- 顶部导航栏 -->
    <nav th:replace="commons::commonNav(day)"></nav>
    <!-- 左侧导航栏 -->
    <aside th:replace="commons::commonMenu(day)"></aside>

    <!-- 中间内容 -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <!-- 任务 -->
                    <div class="col-8">
                        <form method="post" th:action="@{/taskInput}" th:object="${task}">
                            <!--输入框-->
                            <div>
                                <label for="taskName"></label>
                                <input class="form-control input-lg" id="taskName" name="taskName" placeholder="添加任务" type="text">
                            </div>
                            <!--选择框-->
                            <div th:each="task:${tasks}">
                                <p></p>
                                <i th:class="${task.isFinish == true?'bi bi-circle':'bi bi-check-circle'}"> </i>
                                <a style="color: #f9f9f9" th:href="@{/(id=${task.id})}" th:text="${task.taskName}"></a>
                            </div>
                        </form>
                    </div>
                    <!-- 步骤 -->
                    <div class="col-4">
                        <form method="post" th:action="@{/stepInput}" th:object="${step}">
                            <!--输入框-->
                            <div>
                                <label for="step"></label>
                                <input class="form-control input-lg" id="step" name="content" placeholder="添加步骤" type="text">
                            </div>
                            <!--选择框-->
                            <div th:each="step:${steps}">
                                <p></p>
                                <i class="bi bi-check-circle" th:text="${step.content}"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </section>
        <!-- Main content -->
    </div>
    <!--/ 中间内容 -->
</div>
<div th:replace="commons::commonScript"></div>
</body>
</html>
