<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>登录</h1>
<form>
    <label>
        <input id="userName" name="userName" type="text">
        <input id="password" name="password" type="password">
        <button id="input">登录</button>
    </label>
</form>

<!--jquery-->
<script th:src="@{plugins/jquery/jquery.min.js}"></script>
<script>
    $(function () {
        $("#input").click(function () {
            $.ajax({
                // 请求路径
                url: '/userLogin',
                type: 'post',
                data: {userName: $('#userName').val(), password: $('#password').val()},
                success: function (data) {
                    // 拿到数据后执行的方法
                    if (data.status === 200) {
                        window.location.href = "/";

                    } else if (data.status === 400) {
                        window.location.href = "login";
                        alert("用户名或密码错误")
                    } else {
                        window.location.href = "500";
                    }
                }
            });
        })
    });
</script>
</body>
</html>