<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons::head(~{::title})}">
    <title>DoIt-Tas</title>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- 顶部导航栏 -->
    <nav th:replace="commons::commonNav(tas)"></nav>
    <!-- 左侧导航栏 -->
    <aside th:replace="commons::commonMenu(tas)"></aside>

    <!-- 中间内容 -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <!-- 任务 -->
                    <div class="col-12">
                        <form method="post">
                            <label for="taskName"></label>
                            <input class="form-control input-lg" id="taskName" name="taskName" placeholder="添加任务" type="text">
                        </form>

                        <div>
                            <p></p>
                            <i class="bi bi-check-circle">任务测试</i>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </section>
        <!-- Main content -->
    </div>
    <!--/ 中间内容 -->
</div>
<div th:replace="commons::commonScript"></div>
</body>
</html>
