<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<button id="btn">test</button>
<script>
    $(function () {
        $("#btn").click(function () {
            $.post("/a", function (data) {
                console.log(data);
            })
        })
    });

    // $(function (){
    //     $("#btn").click(function (){
    //         console.log("测试");
    //     })
    // });

</script>
</body>
</html>