<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doit.mapper.TaskMapper">

    <resultMap type="com.doit.entity.Task" id="TaskMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="taskName" column="task_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="isFinish" column="is_finish" jdbcType="BOOLEAN"/>
    </resultMap>

    <!--查询所有实例-->
    <select id="queryAll" resultMap="TaskMap">
        select id,
               task_name,
               create_time,
               end_time,
               is_finish
        from db_doit.task
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="TaskMap">
        select id,
               task_name,
               create_time,
               end_time,
               is_finish
        from db_doit.task
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into db_doit.task(task_name, create_time, end_time, is_finish)
        values (#{taskName}, #{createTime}, #{expireTime}, #{isFinish})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into db_doit.task(task_name, create_time, end_time, is_finish)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.taskName}, #{entity.createTime}, #{entity.expireTime}, #{entity.isFinish})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into db_doit.task(task_name, create_time, end_time, is_finish)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.taskName}, #{entity.createTime}, #{entity.expireTime}, #{entity.isFinish})
        </foreach>
        on duplicate key update
        task_name = values(task_name) , create_time = values(create_time) , end_time = values(end_time) ,
        is_finish = values(is_finish)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update db_doit.task
        <set>
            <if test="taskName != null and taskName != ''">
                task_name = #{taskName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime},
            </if>
            <if test="isFinish != null">
                is_finish = #{isFinish},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from db_doit.task
        where id = #{id}
    </delete>

</mapper>

